@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
    <h1>Project Future 4th Cycle - .NET Team 5</h1>
</div>




<div class="container">
    <div class="row px-3 mt-3 justify-content-center">
        
            <img src="~/uploads/logo.png">
              @* <img src="@Url.Content("https://www.projectfuture.gr/assets/images/share-image.png")" /> *@
    </div>
</div>